@model BixWeb.Models.Presente

@{
    ViewData["Title"] = "Confirmar Remoção";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Pages/Presentes/delete.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
}

<div class="delete-confirmation-container">
    <div class="confirmation-card">
        <i class="bi bi-exclamation-triangle-fill text-danger confirmation-icon"></i>
        <h2 class="confirmation-title">Você tem certeza?</h2>
        <p class="confirmation-text">
            Esta ação removerá permanentemente o presente da sua lista. Você não poderá desfazer isso.
        </p>

        <div class="presente-info-delete">
            <img src="@Model.Imagem" onerror="this.onerror=null; this.src='https://placehold.co/100x80/f98303/FFFFFF?text=Presente';" alt="Imagem de @Model.Nome" class="produto-imagem">
            <div class="produto-detalhes">
                <span class="produto-nome">@Model.Nome</span>
                <span class="produto-preco">@Model.Preco.ToString("C")</span>
            </div>
        </div>
        
        <form asp-action="Delete">
            <input type="hidden" asp-for="codPresente" />
            <div class="confirmation-actions">
                <a asp-action="Index"  asp-route-id="@ViewBag.codConvite" class="btn btn-light">Cancelar</a>
                <button type="submit" class="btn btn-danger">
                    <i class="bi bi-trash3-fill me-2"></i>
                    Sim, remover
                </button>
            </div>
        </form>
    </div>
</div>


