@model BixWeb.Models.Filial

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Filial</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cnpj)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cnpj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.logoHome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.logoHome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.logoPDV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.logoPDV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco.codEndereco)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.codFilial">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
